.env
**.cpython
**.pyc
__pycache__
**/__pycache__
*__pycache__


# Demos
agent_1_demo.py
tool_1_demo.py
tool_2_demo.py

# RepoRanger build/run artifacts
.reporanger_workspace/
src/reporanger.egg-info/


COMMIT_MESSAGE.txt
PR_MESSAGE.txt